version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: lms_postgres
    restart: always
    environment:
      POSTGRES_USER: lms_user
      POSTGRES_PASSWORD: lms_password
      POSTGRES_DB: lms_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

# docker compose up -d
# docker ps

# Verify DB Manually
# docker exec -it lms_postgres psql -U lms_user -d lms_db
# lms_db=# -> If this is seen, DB is connected successfully